<ion-header>
  <ion-toolbar>
    <ion-title>stage2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-list-header>
        Dirección de envío
      </ion-list-header>
    </ion-item-group>
    <ion-item-group>
      
      
        <ion-list-header>
          Método de envío
        </ion-list-header>
      <form [formGroup]="envioForm" >
          <ion-radio-group formControlName="envio">
        <ion-item>
          <ion-radio slot="start" value="Eco"></ion-radio>

            <ion-label>
              <h3 class="ion-text-wrap">Envío rastreado con DHL Economy(2-5 días laborables)</h3>
              <ion-text color="warning">
                <p class="ion-text-wrap">Los envíos que incuyan Nano X se enviará en dos semanas</p>
              </ion-text>
              <ion-text color="success">
                <p class="ion-color-success">FREE SHIPPING</p>
              </ion-text>
            </ion-label>
        </ion-item>
        <ion-item>
          <ion-radio slot="start" value="Exp"></ion-radio>
            <ion-label>
              <h3 class="ion-text-wrap">Envío exprés con DHL Express(1-2 días laborables)</h3>
              <ion-text color="warning">
                <p class="ion-text-wrap">Los envíos que incuyan Nano X se enviará en dos semanas</p>
              </ion-text>
              <p>10,58 €</p>
            </ion-label>
        </ion-item>
      </ion-radio-group>
    </form>
    </ion-item-group>
  </ion-list>
  <ion-button (click) ="siguientePagina()" [disabled]="!envioForm.valid" expand="block" color="success">Continuar</ion-button>
  <ion-button (click) = "volver()" expand="block" color="medium">&lt; Volver a información de envío</ion-button>
</ion-content>
