<ion-header>
  <ion-toolbar>
    <ion-title>stage1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="carritoForm">
    <ion-list>
      <ion-item-group>
        <ion-list-header>
          Código promocional
        </ion-list-header>

        <ion-item>
          <ion-input formControlName="promo" placeholder="Introduce el código de promoción...(Opcional)">
          </ion-input>
        </ion-item>
      </ion-item-group>

      <ion-list-header>
        Información del cliente
      </ion-list-header>
      
      <ion-item>
        <ion-input formControlName="email" placeholder="Correo electrónico" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Consiento recibir emails de Ledger sobre productos, actualizaciones o noticias.</ion-label>
        <ion-checkbox formControlName="consentimiento" color="primary" slot="start" required></ion-checkbox>
      </ion-item>

      <ion-list-header>
        Estoy comprando como
      </ion-list-header>

      <ion-item>
        <ion-input formControlName="nombre" placeholder="Nombre" required></ion-input>
        <ion-input formControlName="apellido" placeholder="Apellido" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="empresa" placeholder="Empresa (Opcional)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="direccion" placeholder="Dirección Línea 1" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="direccion2" placeholder="Dirección Línea 2 (Opcional)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-select formControlName="pais" placeholder="País" required>
          <ion-select-option value="Esp">España</ion-select-option>
          <ion-select-option value="And">Andorra</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input formControlName="ciudad" placeholder="Ciudad" required></ion-input>

        <ion-select formControlName="provincia" placeholder="Província" required>
          <ion-select-option value="And">Andorra</ion-select-option>
          <ion-select-option value="Cat">Cataluña</ion-select-option>
          <ion-select-option value="Ara">Aragón</ion-select-option>
          <ion-select-option value="Val">Valencia</ion-select-option>
          <ion-select-option value="Bal">Baleares</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-button [disabled]="!carritoForm.valid" (click)="siguientePagina()" expand="block" color="success">Continuar</ion-button>
  </form>
</ion-content>
