<ion-header>
  <ion-toolbar>
    <ion-title>stage4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>Cliente</ion-text>
  <ion-text>Dirección de envío</ion-text>
  <ion-text>Método de envío</ion-text>
  <ion-text>Método de pago</ion-text>
  <ion-text>Total</ion-text>

  <ion-button (click) = "volverInicio()" expand="block" color="medium">&lt; Volver al inicio</ion-button>
  
</ion-content>
