<ion-header>
  <ion-toolbar>
    <ion-title>stage3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="pagoForm">
      <ion-list-header>
        Método de pago
      </ion-list-header>
      <ion-radio-group formControlName="metodo">
      <ion-item>
        <ion-radio slot="start" value="creditCard"></ion-radio>
        <ion-list>
          <ion-item>
            <ion-label>
              <h2 class="ion-text-wrap">Tarjeta de crédito</h2>
            </ion-label>
            <ion-icon slot="end" name="card-outline" color="black"></ion-icon>
          </ion-item>  
          <ion-item>
            <ion-input type ="number" placeholder="Número de tarjeta de crédito"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type ="text" placeholder="Nombre completo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type ="number" placeholder="Mes exp"></ion-input>
            <ion-input type ="number" placeholder="Año exp"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type ="number" placeholder="CCV"></ion-input>
          </ion-item>
        </ion-list>
      </ion-item>
      <ion-item>
        <ion-radio slot="start" value="paypal"></ion-radio>
          <ion-label>
            Paypal 
          </ion-label>
          <ion-icon name="logo-paypal" slot="end" color="black"></ion-icon>
      </ion-item>

    </ion-radio-group>
    <ion-radio-group formControlName="direccion">
      <ion-list-header>
        Dirección de facturación
      </ion-list-header>
      <ion-item>
        <ion-radio slot="start" value="igual"></ion-radio>
          <ion-label>
            Igual que la dirección de envío
          </ion-label>
        </ion-item>
        <ion-item>
        <ion-radio slot="start" value="dif"></ion-radio>
          <ion-label>
            Usa una dirección diferente
          </ion-label>
      </ion-item>
    </ion-radio-group>

    <ion-checkbox slot="start" color="primary" formControlName="terminos">
      <ion-label>
        Acepto los términos y condiciones de venta y del sitio.
      </ion-label>
    </ion-checkbox>
    <ion-item color="medium">
    <p>El método de pago que seleccionó puede requerir verificación adicional. Es posible que se lo redireccione a un sitio de terceros para completar la verificación.</p>
    </ion-item>
    <ion-button [disabled]="!pagoForm.valid" (click)="final()" expand="block" color="success">Finalizar compra</ion-button>
    <ion-button (click) = "volverInicio()" expand="block" color="medium">&lt; Volver al inicio</ion-button>
  </form>
</ion-content>
